{% extends 'base.html' %}
{% load static %}
{% block content %}
<script type="importmap">
    {
        "imports": {
            "three": "https://threejsfundamentals.org/threejs/resources/threejs/r132/build/three.module.js"
        }
    }
</script>
<script type="module" defer src="{% static 'js/3d-viewer.js' %}"></script>

<div class="scene-container">
    <div id="scene-box"></div>
</div>
<div class="container my-5">
    <h1>Your Schedule</h1>

    <!-- Add the form for creating a new schedule -->
    <h2>Add New Schedule Item</h2>
    <form method="post" class="mb-4">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Render the form fields -->
        <button type="submit" class="btn btn-primary">Add Schedule</button>
    </form>

    <!-- Display the list of schedules -->
    <ul class="list-group">
        <p>Completed today: {{ completed_today_count }} out of {{ total_schedules_count }}</p>
        {% for schedule in schedules %}
            <a href="{% url 'schedule_detail' schedule.uuid %}">
            <li class="list-group-item">
                <strong>{{ schedule.title }}</strong> ({{ schedule.start_time|time:"h:i A" }} - {{ schedule.end_time|time:"h:i A" }})
                <p>{{ schedule.description }}</p>
            </a>
                <div>
                    <a href="{% url 'schedule_update' schedule.uuid %}" class="btn btn-sm btn-warning">Edit</a>
                    <a href="{% url 'delete_schedule' schedule.uuid %}" class="btn btn-sm btn-danger">Delete</a>
                    <a href="{% url 'mark_schedule_completed' schedule.uuid %}">Mark as Completed</a>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}